.front-block__3d
    .front-block__rotate
        .front-block__wrap-front
            .front-block
                .front-block__avatar-wrap
                    +avatar('--dark')
                +socials('#20c6af')
                +buttons(1)
        .front-block__wrap-back
            include ../common/author_form
