.about-left__title
    +page_title('about','About me')
.about-left__content
    .about-left__slide-wrap
        .about-left__slide-img-wrap
            .about-left__slide-item
    .about-content__article
        .about-left__content-title Who I am
        .about-left__content-text
            p.
                Hello everyone. Thank you for checking my portfolio.
                My name is Anatolii Tupkalo I am 37 years old,
                originally I am from Ukraine but have been living in Denver CO since February 2016.
                I am an avid outdoor enthusiast and enjoy all that Colorado offers.
            p.
                My basic educational experience began with art and design
                which led me to take an interest in web design technologies about 7 years ago.
                At the beginning my web design work was more a hobby but little by little
                I went deeper into the captivating world of web development
            p.
                On the right side of this page you will see my current level of
                skills in programming languages and related technologies.
                This display doesn’t attempt to show all my skills, rather only the
                primary and important things. Other knowledge I possess include
            p.
                CSS preprocessors: Less, Sas
            p.
                HTML preprocessor: Pug (Jade)
            p.
                JS libraries: jQuery, Angular
            p.
                I also have strong knowledge in such media editors like Photoshop, Illustrator,
                Adobe XD and others. I never stop on personal achievement and strive to continually
                upgrade myself. I want to know the latest and greatest from the programming world.
                My favorite sources of information are hubrahur.ru, develops.mozilla.org,
                github.com, developers.googleblog
            p.
                Please visit my blog page and read a little bit more about me.
                You can also read what I think about the new technologies in the web development world.
                In fact it is my own web site so I took a chance and wrote the first article about myself
            p.
                Below you can find my location and personal contact information. Thank you for your time,
                I hope you like my portfolio