.admin__content-item-about
    .admin__title About page
    .admin__title-desc
        .admin-table__desc Frontend
        .admin-table__desc Backend and frameworks
        .admin-table__desc Workflow
    .admin_tables-wrap
        table.item-about__table.item-about__table_front
            tr
                td.item-about__tb-cell Html
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
            tr
                td.item-about__tb-cell CSS
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
            tr
                td.item-about__tb-cell JawaScript
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
        table.item-about__table.item-abo_tut_able_backend
            tr
                td.item-about__tb-cell PHP
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
            tr
                td.item-about__tb-cell sql
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
            tr
                td.item-about__tb-cell worldpress
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
            tr
                td.item-about__tb-cell Node.js
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
        table.item-about__table.item-about__table_workflow
            tr
                td.item-about__tb-cell Git
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
            tr
                td.item-about__tb-cell Gulp
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %
            tr
                td.item-about__tb-cell Webpack
                td.item-about__tb-cell
                    input.about-table__input
                td.item-about__tb-cell %

.admin-about__bottom
    button(type="submit").admin__button  Retain

