.admin__content-item-about
    .admin__title About page/Skills
    .top-display__wrap
        ul.top-display__list
            -var skillsArr = ['html', 'css', 'js', 'php', 'sgl', 'wp', 'node', 'git', 'gulp', 'wp']
            each item in skillsArr
                li.top-display__item
                    .pot-display__tech-name= item
                    input(type="text" data-value=`${item}`).top-display__input
    button(type="submit").admin__button  Retain
    .bottom-display__wrap
        .bottom-dispaly__title Add skills of a new technology
        .bottom-display__item
            .bottom-display__desc skills name
            input(type="text").bottom-display__input
        .bottom-display__item
            .bottom-display__desc skills percent
            input(type="text").bottom-display__input
        button(type="submit").admin__button  add
        .bottom-dispaly__title Add new section of skills
            .bottom-display__item
                .bottom-display__desc new skills section
                input(type="text").bottom-display__input
        button(type="submit").admin__button  add

