.admin-work
    .admin__title My work page
    .admin-table__desc Add project
    .admin__work-wrap
        .admin-work__input-icon <i class="far fa-copy"></i>
            input(type="text" placeholder="project name" name="name").admin-work__input
        .admin-work__input-icon <i class="fas fa-link"></i>
            input(type="text" placeholder="link" name="link").admin-work__input
        .admin-work__input-icon <i class="fas fa-text-width"></i>
            input(type="text" placeholder="technologies" name="text").admin-work__input
        .admin-work__input-icon <i class="fas fa-download"></i>
            input(type="file" name="picture").admin-work__input-file
button(type="submit").admin__button submit

