.admin-work
    .admin__title My work page
    .admin-table__desc Add project
    .admin__work-wrap
        form.slider-additor-form(action="submit" method="post")
            .admin-work__input-icon <i class="far fa-copy"></i>
                input(type="text" placeholder="project title" name="title").admin-work__input.admin-work__input-slider
            .admin-work__input-icon <i class="fas fa-link"></i>
                input(type="text" placeholder="technologies" name="tech").admin-work__input.admin-work__input-slider
            .admin-work__input-icon <i class="fas fa-text-width"></i>
                input(type="text" placeholder="link" name="refer").admin-work__input.admin-work__input-slider
            .admin-work__input-icon <i class="fas fa-download"></i>
                input(type="file" name="picture").admin-work__input-file.admin-work__input-slider
                input(type="hidden" name="sliderImg" value="")
            input(type="submit" value="submit").admin__button.admin-button--slider

