.admin-blog
    .admin__title Blog page
    .admin__blog-wrap
        .admin__blog-item-wrap
            .admin-blog__table-desc  article title
            input(type="name" placeholder="title" name="artc-title").admin-blog__input.admin-blog__input-title
        .admin__blog-item-wrap
            .admin-blog__table-desc   posted date
            input(type="date" placeholder="date" name="artc-date").admin-blog__input.admin-blog__input-date
        .admin__blog-item-wrap
            .admin-blog__table-desc   article content
            textarea(placeholder="content" name="artc-content").admin-blog__input.admin-blog__input-content
        .admin__blog-item-wrap
            .admin-blog__table-desc   articale image
            input(type="file" name="artc-img").admin-blog__input.admin-blog__imput-img
    button(type="submit").admin__button.admin__button--blog  submit
