.admin__content-item-about
    .admin__title About page/Skills
    .skills-forms__wrap
        form.skills__new-section(action="submit" method="post")
            .skills__form-title  add section
            .new__section-item
                .new__section-name add new section name
                input(type="text" name="section").skills__input
            input(id="sec" type="submit" value="add").skills__section-btn.admin__button
        form.skills__new-skill(action="submit" method="post")
            .skills__form-title  add new skill
            .new__tech-item
                .new__skill-item
                    .new__skill-name add new skill name
                    input(type="text" name="skillName").skills__input
                .new__skill-item
                    .new__skill-level add new skill level
                    input(type="text" name="skillLevel").skills__input
                input(id="circle" type="submit" value="add").skills__new-skill-btn.admin__button
        form.skills__level(action="submit" method="post")
            .skills__form-title update your level
            .skills__level-wrap
                -var skillsArr = ['html', 'css', 'js', 'php', 'sgl', 'wp', 'node', 'git', 'gulp', 'wbp']
                each item in skillsArr
                    .skills-level__item
                        .skills-level__name= item
                        input(type="text" name=`${item}`).skills__input.skills__input--level
            input(id="levels" type="submit" value="Retain").admin__button.admin__button--skills-level


