.admin-blog
    .admin__title Blog page
    .admin-table__desc Add article
    .admin__blog-wrap
        .admin__blog-item-wrap
            .admin-blog__table-desc  article title
            input(type="name" placeholder="title").admin-blog__table-input.admin-blog__table-input-title
        .admin__blog-item-wrap
            .admin-blog__table-desc   posted date
            input(type="date" placeholder="date").admin-blog__table-input.admin-blog__table-input-date
        .admin__blog-item-wrap
            .admin-blog__table-desc   article
            textarea(placeholder="content").admin-blog__table-input.admin-blog__table-input-title-content
    button(type="submit").admin__button.admin__button--blog  submit
