article#article-1.blog__article
    .article__img-wrap
        img(src="/assets/img/header_bg420.jpg").article__img
    .article__title some title
    .article__date  some dat 2018
    .article__text
        p.
            a lot ov text Benito and Carol Gutierrez are accused of keeping the four children,
            aged between six and 12, locked in rooms with no light or food
              Police were alerted when one boy left the house in Tucson.
        p.
            He entered a shop to call a relative, but an employee called
             police because of concerns about the boy's appearance.
             The Pima County Sheriff's Department said they discovered
            that the children "were kept in separate bedrooms, which were
             locked from the outside, with no access to food, water, lights,
              or bathroom facilities for up to twelve hours at a time on a regular basis".
        p.
            Police said the children - all biological siblings adopted
            by the couple - did not realise the conditions in which they
            lived were unusual. They were excellent students and had no reported problems in school.
        p.
            He entered a shop to call a relative, but an employee called
             police because of concerns about the boy's appearance.
             The Pima County Sheriff's Department said they discovered
            that the children "were kept in separate bedrooms, which were
             locked from the outside, with no access to food, water, lights,
              or bathroom facilities for up to twelve hours at a time on a regular basis".
            p.
            Police said the children - all biological siblings adopted
            by the couple - did not realise the conditions in which they
            lived were unusual. They were excellent students and had no reported problems in school.
