.front-block.front-block_bg
    .terms
        p * this is personal web site, you can't create a profile here. Enter is for owner only
    .author-form__title LOGIN
    .form-error
    .author-form__inputs
        .input-icon <i class="fa fa-user" aria-hidden="true"></i>
        input(type="mail" placeholder="login").input-field.input-field_log
    .author-form__inputs
        .input-icon <i class="fa fa-key" aria-hidden="true"></i>
        input(type="password" placeholder="password").input-field.input-field_pass
    .author-form__checkbox-wrap
        label(for="bot").checkbox-label I am not a robot
            input(id="bot" type="checkbox").author-form__checkbox
    +buttons(3)


