.my-info__btn-wrap
    .my-info__btn contacts information
    .my-info__btn-icon <i class="fas fa-angle-down"></i>
.my-info
    .my-info__block
        .my-info__close <i class="far fa-times-circle"></i>
        .my-info__list
            .my-info__item
                .my-info__icon <i class="fas fa-envelope"></i>
                .my-info__info a.tupkalo@hotmail.com
            .my-info__item
                .my-info__icon <i class="fas fa-map-marker-alt"></i>
                .my-info__info Denver CO, 80203
            .my-info__item
                .my-info__icon <i class="fab fa-skype"></i>
                .my-info__info tigerforce1980
            .my-info__item
                .my-info__icon <i class="fas fa-phone"></i>
                .my-info__info 720-579-23-53
        .my-info__desc you are welcome to call me, send me a text or add me to your friends list on any social networks where you find me


//