.about-skills
    .about-skills__title My skills
    .about-skills__desc  The gauges illustrate the extent of my knowledge and abilities of frontend and backend web development
    ul.about-skills__list
        li.about-skills__item
            .about-skills__item-title Frontend
            ul.skills-svg__list
                li.skills-svg__item
                    .skills-svg__decs html
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--html
                li.skills-svg__item
                    .skills-svg__decs css
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--css
                li.skills-svg__item
                    .skills-svg__decs javascript
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--js
        li.about-skills__item
            .about-skills__item-title Backend and FrameWorks
            ul.skills-svg__list
                li.skills-svg__item
                    .skills-svg__decs php
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--php
                li.skills-svg__item
                    .skills-svg__decs sgl
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--sql
                li.skills-svg__item
                    .skills-svg__decs worldpress
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--wp
                li.skills-svg__item
                    .skills-svg__decs node.js
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--node
        li.about-skills__item
            .about-skills__item-title WorkFlow
            ul.skills-svg__list
                li.skills-svg__item
                    .skills-svg__decs git
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--git
                li.skills-svg__item
                    .skills-svg__decs gulp
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--gulp
                li.skills-svg__item
                    .skills-svg__decs webpack
                    svg.svg-box
                        circle.svg-circle(cx='75' cy='75' r='50')
                        circle.inner-circle(cx='100' cy='50' r='50' transform="rotate(-90 100 75)").svg-circle--webp

