.slider-wrap
    .slider-left
        .slider-left__bg
            img(src="/assets/img/bg-4.png").slider-left__bg-img
        .slider-left__desc-wrap
            .slider-left__desc-items
                .slider-left__desc-title
            .slider-left__desc-items
                .slider-left__desc-item-border
                    .slider-left__desc-teh
            .slider-left__desc-items
                a(href="#" target="_blank").slider-left__desc-link
                    .slider-left__desc-link-value review this work
    .slider-right
        .slider-right__pic-wrap
        .slider-right__btn-item.slider-right__btn-item--l
            .slider-btn__small-pic.slider-btn__small-pic-left
            .slider-dtn__arrow.slider-dtn__arrow-left
        .slider-right__btn-item.slider-right__btn-item--r
            .slider-btn__small-pic.slider-btn__small-pic-right
            .slider-dtn__arrow.slider-dtn__arrow-right

