.admin__content-item-about{
  width: 70%;
  margin-bottom: 30px;
}
.admin__title{
  @include font(20px, $sans, $black);
  font-weight: bold;
  margin-bottom: 30px;
}

.top-display__list{
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
}

.top-display__item{
  width: 140px;
  @include flex(row, space-between, center);
  margin: 10px;
}
.top-display__item{
  @include font(18px, $sans, $black);
}
.top-display__input{
  border: 1px solid $green;
  width: 80px;
  margin-left: 10px;
}



.bottom-dispaly__title{
  margin-top: 30px;
  @include font(18px, $sans, $black);
}
.bottom-display__item{
  @include flex(row, flex-start, center);
}
.bottom-display__desc{
  @include font(16px, $sans, $green);
}
.bottom-display__input{
  width: 80px;
  height: 30px;
  border: 1px solid $green;
  margin: 20px 10px;
}
//---------------------------------------------  TAB-2
.admin__blog-wrap{
  margin: 30px 0;
  @include flex(column, flex-start, flex-start);
  width: 40%;
}
.admin-blog__table-input{
  width: 200px;
  height: 40px;
  margin: 10px 30px;
  border: 1px solid $green;
  &:hover{
    border: 1px solid $dark-green;
  }
}
.admin-blog__table-desc{
  @include font(16px, $sans, $gray);
}
.admin-blog__table-input-title-content{
  width: 400px;
  height: 300px;
}
.admin__blog-item-wrap{
  @include flex(row, center, flex-start);
}

//---------------------------------------------  TAB-3
.admin__work-wrap{
  margin: 30px 30px;
}
.admin-work__input{
  width: 200px;
  height: 40px;
  margin: 10px 30px;
  border: 1px solid $green;
  &:hover{
    border: 1px solid $dark-green;
  }
}
.admin-work__input-file{
  font-size: 18px;
  margin: 10px 20px;
}
.admin-work__input-icon{
  font-size: 18px;
  color: $green;
}
