.admin__content-item-about{
  width: 70%;
  margin-bottom: 30px;
}
.admin_tables-wrap{
  @include flex(row, space-between, flex-start);
}
.admin__title-desc{
  @include flex(row, space-between, center);
}
.admin__title{
  @include font(20px, $sans, $black);
  font-weight: bold;
}
.admin-table__desc {
  padding: 15px 0;
  @include font(18px, $sans, $gray);
}
.item-about__tb-cell{
  @include font(16px, $sans, $gray);
}
.item-about__table{
  padding-top: 20px;
}
.about-table__input{
  padding: 15px;
  width: 80px;
  height: 35px;
  border: 1px solid $green;
    &:hover{
      border: 1px solid $dark-green;
    }
}
.admin__button{
  font-size: 16px;
  border-radius: 5px;
  width: 110px;
  height: 35px;
  background: $green;
  color: #fff;
  border: none;
    &:hover{
      background: $dark-green;
}
}

//---------------------------------------------  TAB-2
.admin__blog-wrap{
  margin: 30px 0;
  @include flex(column, flex-start, flex-start);
  width: 40%;
}
.admin-blog__table-input{
  width: 200px;
  height: 40px;
  margin: 10px 30px;
  border: 1px solid $green;
  &:hover{
    border: 1px solid $dark-green;
  }
}
.admin-blog__table-desc{
  @include font(16px, $sans, $gray);
}
.admin-blog__table-input-title-content{
  width: 400px;
  height: 300px;
}
.admin__blog-item-wrap{
  @include flex(row, center, flex-start);
}

//---------------------------------------------  TAB-3
.admin__work-wrap{
  margin: 30px 30px;
}
.admin-work__input{
  width: 200px;
  height: 40px;
  margin: 10px 30px;
  border: 1px solid $green;
  &:hover{
    border: 1px solid $dark-green;
  }
}
.admin-work__input-file{
  font-size: 18px;
  margin: 10px 20px;
}
.admin-work__input-icon{
  font-size: 18px;
  color: $green;
}
