.admin__content-item-about{
  width: 70%;
  margin-bottom: 30px;
}
.admin__title{
  @include font(20px, $sans, $black);
  font-weight: bold;
  margin-right: 30px;
}
.skills-forms__wrap{
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
}
.skills__new-section, .skills__new-skill, .skills__level{
  margin-right: 20px;
  margin-bottom: 20px;
}
.skills__form-title{
  @include font(20px, $sans, $green);
}
.new__section-item, .new__skill-item, .skills-level__item{
  @include flex(row, space-between, center);
  margin: 10px 0;
}
.skills-level__item{
  width: 160px;
}
.skills__input{
  border: 1px solid $green;
  margin-left: 15px;
}
.skills__input--level{
  width: 70px;
}
.skills__level-wrap{
  //width: 500px;
  @include flex(row, flex-start, flex-start);
  flex-wrap: wrap;
}
.skills-level__name{
  margin-left: 30px;
}

//---------------------------------------------  TAB-2
.admin__blog-wrap{
  margin: 30px 0;
  width: 40%;
}
.admin-blog__input-title, .admin-blog__input-date{
  width: 200px;
  height: 40px;
  margin: 10px 0;
  border: 1px solid $green;
  &:hover{
    border: 1px solid $dark-green;
  }
}
.admin-blog__table-desc{
  @include font(16px, $sans, $gray);
}
.admin-blog__input-content{
  width: 400px;
  height: 300px;
  margin: 10px 0;
  border: 1px solid $green;
  &:hover{
    border: 1px solid $dark-green;
  }
}
.admin__blog-item-wrap{
  @include flex(row, space-between, center);
}

//---------------------------------------------  TAB-3
.admin__work-wrap{
  margin: 30px 30px;
}
.admin-work__input{
  width: 200px;
  height: 40px;
  margin: 10px 30px;
  border: 1px solid $green;
  &:hover{
    border: 1px solid $dark-green;
  }
}
.admin-work__input-file{
  font-size: 18px;
  margin: 10px 20px;
}
.admin-work__input-icon{
  font-size: 18px;
  color: $green;
}
.admin-table__desc{
  @include font(20px, $sans, $green);
}

