html, body {
  height: 100%;
  margin: 0;
}
.wrapper{
  min-height: 100%;
  overflow: hidden;
  position: relative;
}
p{
  padding: 0;
  margin: 0;
}
ul {
  padding: 0;
  margin: 0;
}

li {
  list-style: none;
}
a{
  text-decoration: none;
  padding: 0;
}
a:hover{
  text-decoration: none;
}
h1{
  font-size: 0;
  margin: 0;
  padding: 0;
}
h2{
  font-size: 0;
  margin: 0;
  padding: 0;
}
h3{
  font-size: 0;
  margin: 0;
  padding: 0;
}
input{
  box-sizing: border-box;
  padding: 10px;
  border: none;
    &:hover, &:active, &:focus{
      outline: 0;
      outline-offset: 0;
    }
}
button{
  &:hover, &:active, &:focus{
    outline: 0;
    outline-offset: 0;
  }
}
textarea{
  box-sizing: border-box;
  padding: 10px;
  &:hover, &:active, &:focus{
    outline: 0;
    outline-offset: 0;
  }
}